footer{
    height: 100%;
    display: grid;
    font-family: 'Arazati Negra Expandida';
    grid-area: footer;
}

.footerPart1{
    background-color: #f2f2f2;

}

.footer1{    
    display: flex;
}

.footerCentralizado{
    width: 100%;
}

.footerCategorias{
    display: flex;
    width: 60%;
}

.footerOutros{
    width: 20%;
}

.footerCupons{
    width: 20%;
}

.categoriaOrganiza{
    margin-left: 20px;
}

.cat{
    margin-top: 40px;
    margin-left: 40px;
}

.footerPart2{
    background-color: #d9d9d9;

}

.footer2{
    width: 100%;
}

.divisao1{
    display: flex;
    align-content: space-between;
}

.nzn{
    align-self: center;
}

.nznImagem{
    margin-left: 30px;
    align-self: center;
}

.copyright{
    margin-left: 25px;
}

.divisao2{
    display: flex;
    align-content: space-between;
    width: 100%;
}

h5{
    margin-left: 60px;
}

.padLateral{
    padding-left: 200px;
    padding-right: 200px;
}